In [1]:
import os, re
#import sys, random
import pandas as pd

from datetime import datetime as dt

In [2]:
root = 'Y:\Data\Monuments'
mon_files = []
for (dir, subdir, files) in os.walk(root):
    mon_files += [os.path.join(dir, file) for file in files]

In [13]:
mon_files_filtered = list(filter(lambda a: 
                            ".DS_Store" not in a and
                            "Thumbs.db" not in a and
                            "Nifty Logo" not in a and
                            "Monitoring Material on Fileserver.url" not in a and
                            ".xlsx" not in a and
                            ".docx" not in a and
                            ".doc" not in a and
                            ".MP4" not in a and
                            "DANAM - " not in a, 
                        mon_files))

In [14]:
len(mon_files_filtered)

30629

In [15]:
df = pd.DataFrame(mon_files_filtered, columns=["path"])

In [16]:
df['filename'] = [i.split("\\")[-1] for i in mon_files_filtered]

In [18]:

date_str = "20140930"
def valid_date(date_str):
    try:
        dt.strptime(date_str, '%Y%m%d')
        return "H"
    except ValueError:
        pass
    try:
        dt.strptime(date_str, '%Y%m')
        return "H"
    except ValueError:
        pass
    try:
        dt.strptime(date_str, "%Y")
        return "H"
    except ValueError:
        return "H_f"

valid_date(date_str)

'H'

In [19]:
def img_type(filename):
    if "_P_" in filename:
        return "P"
    elif "_I_" in filename:
        return "I"
    elif "_H_" in filename:
        date_str = filename.split("_H_")[1].split("_")[0]
        date_str = date_str.split(" ")[0].split(".")[0].split("-")[0]
        date_str = re.sub("[^0-9]", "", date_str)
        return valid_date(date_str)
    elif "_D_" in filename:
        return "D"
    else:
        return "UNK"

df['type'] = [img_type(i) for i in df['filename']]

In [20]:
df

,path,filename,type
0,Y:\Data\Monuments\KAT0950\KAT0950_D_2021_floor...,KAT0950_D_2021_floor_plan.pdf,D
1,Y:\Data\Monuments\KAT0950\KAT0950_D_2021_locat...,KAT0950_D_2021_location_map.pdf,D
2,Y:\Data\Monuments\KAT0950\KAT0950_D_2021_site_...,KAT0950_D_2021_site_plan.pdf,D
3,Y:\Data\Monuments\KAT0950\KAT0950_I_20210323_0...,KAT0950_I_20210323_01.CR2,I
4,Y:\Data\Monuments\KAT0950\KAT0950_I_20210323_0...,KAT0950_I_20210323_02.CR2,I
...,...,...,...
30624,Y:\Data\Monuments\KAT3261\KAT3261_2021-08-12\K...,KAT3261_P_20210803_03.png,P
30625,Y:\Data\Monuments\KAT3261\KAT3261_2021-08-12\K...,KAT3261_P_20210803_04.png,P
30626,Y:\Data\Monuments\KAT3261\KAT3261_2021-08-12\K...,KAT3261_P_20210803_05.png,P
30627,Y:\Data\Monuments\KAT3261\KAT3261_2021-08-12\K...,KAT3261_P_20210803_06.png,P
30628,Y:\Data\Monuments\KAT3261\KAT3261_2021-08-12\K...,KAT3261_P_20210803_07.png,P

In [41]:
df[df['type']=='H']

,path,filename,type
89,Y:\Data\Monuments\DLK0251\DLK0251_H_20140930_0...,DLK0251_H_20140930_01.JPG,H
90,Y:\Data\Monuments\DLK0251\DLK0251_H_20140930_0...,DLK0251_H_20140930_02.JPG,H
91,Y:\Data\Monuments\DLK0251\DLK0251_H_20140930_0...,DLK0251_H_20140930_03.JPG,H
185,Y:\Data\Monuments\MUG0160\MUG0160_H_20140906_0...,MUG0160_H_20140906_01.JPG,H
186,Y:\Data\Monuments\MUG0160\MUG0160_H_20140906_0...,MUG0160_H_20140906_02.JPG,H
...,...,...,...
30505,Y:\Data\Monuments\LAL0940\historical photograp...,LAL0940_H_1985.jpg,H
30506,Y:\Data\Monuments\LAL0940\historical photograp...,LAL0940_H_1975.jpg,H
30507,Y:\Data\Monuments\LAL0940\historical photograp...,LAL0940_H_1985.tif,H
30549,Y:\Data\Monuments\LAL0940\raw\LAL0940_H_1975.jpg,LAL0940_H_1975.jpg,H
30550,Y:\Data\Monuments\LAL0940\raw\LAL0940_H_1985.tif,LAL0940_H_1985.tif,H

In [27]:
incorrect_files = list(df.loc[df['type'].str.contains("UNK")]['filename'])
with open("incorrect_files.txt", "a",  encoding="utf-8") as f:
    for filename in incorrect_files:
        f.write(filename+"\n")